
.card {
  border-style: solid;
  border-width: 1,5px;
  border-color: rgb(211, 211, 211);
  border-radius: 15px;
  max-width: 250px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  margin: 10px;
}

.cart-container {
  margin: 20px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title{
  font-size: x-large;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  color: rgb(154, 95, 95);
  /* background-color:rgb(255, 248, 239); */
}

.input{
  margin: auto;
  width: 40%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.paragraf{
  align-items: center;
  margin: auto;
}

.card-primary{
  background-color: rgb(255, 243, 243);
}

.card-text{
  color: rgb(91, 62, 62);
}
.fw-bold{
  color: rgb(0, 0, 0);
  margin:5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto 40px;
}

.d-flex{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.card-header{
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
}

.card-body {
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-style: solid;
  border-width: 1,5px;
  border-color: rgb(211, 211, 211);
}